@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sen:wght@400;700;800&display=swap');

@tailwind utilities;
@tailwind components;
@tailwind base;

body {
  font-family: 'Sen', sans-serif;
}

.font-kaushan {
  font-family: 'Kaushan Script', cursive;
}

* {
  transition: all 0.2s ease-in-out;
}

.dots {
  @apply text-ellipsis overflow-hidden whitespace-nowrap;
}

@media only screen and (min-width: 640px) {
  body {
    overflow: overlay;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #85898954;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  object-fit: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a39d9da1;
}
